body {
    font-family: Arial, sans-serif;
    background-color: #e4dddd;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 50px;
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
    color:#28a745;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.form-container input[type="text"] {
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
}

.form-container button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: rgb(147, 15, 15);
}

#contacts {
    margin-top: 20px;
}

.contact {
    background: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-left: 5px solid #007bff;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

.contact .name {
    font-weight: bold;
}

.contact .phone {
    color: #666;
}

.contact button {
    border: none;
    background: none;
    color: #dc3545;
    cursor: pointer;
}